.checkbox {
    visibility: hidden;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.labelSelected {
    color: var(--primaryColor);
}